.vscode
yha_venv/
*.pyc
p__pycache__/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.env
ssl/
.flaskenv
run.py
setup.py
yourheartai_api/static/profile_pics/*
yourheartai_api/static/ai_images/*
instance/
logs/
certs/
html.html
profiler.prof
docker-compose.yml
Dockerfile
markdown_conversion.py
meili_sync.py
instance/weasyprint.log
*code-workspace
queries/
pipreqs ssl (does not work,might do in future).txt
test_images/
gputest.py